body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #bdb6b6;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

#question-container {
    margin-bottom: 20px;
}

#answers-container {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.hidden {
    display: none;
}

.answer-button {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #963838;
    border-radius: 5px;
    background-color: #982121;
    cursor: pointer;
    font-size: 16px;
}

.answer-button:hover {
    background-color: #e2e2e2;
}

.correct {
    background-color: #4ac065;
}

.incorrect {
    background-color: #6a070f;
}
